<div class="row">
  <div class="col-sm-3">
    <h4>Compartilhe</h4>
    <a href="#"><%= image_tag "facebook.png" %></a>
  </div>
  <div class="col-sm-5">
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag "bebe.jpg" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4>Quais os benefícios do plano de negócio?</h4>
        <ul>
          <li>Você conseguirá direcionar os esforços dentro e fora da organização.</li>
          <li>É uma excelente ferramenta de gestão, controle e acompanhamento.</li>
          <li>Muito útil para desenvolver e avaliar o impacto das estratégias.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <h4>Não perca tempo!</h4>
        <hr>
        <%#= render 'form' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>*Nos comprometemos em não divulgar os dados informados.</p>
      </div>
    </div>
  </div>
</div>