

<h1>Recursos Humanos</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Questão</th>
    <th>Resposta</th>
  </tr>
  </thead>

  <tbody>
  <% @human_resources.each do |resource| %>
    <tr>
      <td><%= resource.descripition %></td>
      <td>
        <% @answer.each do |resposta| %>
          <%= resposta.question_id == resource.id ? resposta.answer : "" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ver\Editar respostas', answers_path %>
