<div class="row justify-content-center">
  <div class="col-6">
    <h1>Editando custos fixos</h1>
    <hr>
    <%= render 'form', fixed_cost: @fixed_cost %><p></p>
    <%= link_to 'Voltar', fixed_costs_path, :class => 'btn btn-block btn-warning' %>
  </div>
</div>

