<div class="row justify-content-center">
  <div class="col-8">
    <h1>Editando produto</h1>
    <hr>
    <%= render 'form', product: @product %><p></p>
    <%= link_to 'Voltar', products_path, :class => 'btn btn-block btn-warning' %>
  </div>
</div>
